.container {
  max-width: 80%;
  margin: 24px auto;
  padding: 20px;
  background-color: #121212;
  border-radius: 8px;
  color: #bbb;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2, p {
  text-align: center;
}